{% load static %}
{% include 'registrator/_head.html' %}

           <article class="message is-dark">
              <div class="message-header">
                  <p>Contact</p>

              </div>
              <div class="message-body">
                <div class="content">
                  <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                      <li>
                        <a href="/">
                          <span class="icon is-small">
                            <i class="fa fa-home" aria-hidden="true"></i>
                          </span>
                          <span>Accueil</span>
                        </a>
                      </li>
                      <li>
                        <a href="/inscription">
                          <span class="icon is-small">
                            <i class="fa fa-book" aria-hidden="true"></i>
                          </span>
                          <span>Inscription</span>
                        </a>
                      </li>
                      <li>
                        <a href="/photos">
                          <span class="icon is-small">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                          </span>
                          <span>Photos</span>
                        </a>
                      </li>
                      <li class="is-active">
                        <a href="/contact">
                          <span class="icon is-small">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                          </span>
                          <span>Contact</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <h1 class="is-size-1">Contact</h1>

                  <p>
                    Pour toute question ou information:
                    <ul>
                      <li>Aline   : 0661783989</li>
                      <li>Pascale : 0631949710</li>
                    </ul>

                    Suivez les actualités du jardin sur notre blog: <a href="https://trocdeplantes.blogspot.com/" target="_blank">https://trocdeplantes.blogspot.com/</a>
                  </p>


                </div>
              </div>
            </article>
    </div>
  </section>
  </body>

</html>
