{% load static %}
{% include 'registrator/_head.html' %}

           <article class="message is-dark">
              <div class="message-header">
              </div>
              <div class="message-body">
                <div class="content">
                  <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                      <li class="is-active">
                        <a href="/">
                          <span class="icon is-small">
                            <i class="fa fa-home" aria-hidden="true"></i>
                          </span>
                          <span>Accueil</span>
                        </a>
                      </li>
                      <li>
                        <a href="/inscription">
                          <span class="icon is-small">
                            <i class="fa fa-book" aria-hidden="true"></i>
                          </span>
                          <span>Inscription</span>
                        </a>
                      </li>
                      <li>
                        <a href="/photos">
                          <span class="icon is-small">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                          </span>
                          <span>Photos</span>
                        </a>
                      </li>
                      <li>
                        <a href="/contact">
                          <span class="icon is-small">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                          </span>
                          <span>Contact</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <h1 class="is-size-1">Le jardin des Roches Brunes</h1>
                  <div class="notification is-success is-light">
                    <h3><strong>Sentier des jasmins</strong> 93100 Montreuil</h3>
                  </div>

                  <h3>Visite gratuite sur inscription les 5 et 6 juin 2021 de 10h à 18h</h3>
                  <p>
                    Dans le cadre de la manifestation nationale, RDV aux jardins, nous sommes heureux de vous accueillir, cette année, les 5 et 6 juin 2021 de 10h à 18 h pour la visite du jardin.
                    Nous maintenons le troc et la vente de plantes, cependant les autres animations, la restauration, buvette, marché artisannal, musique ne pourront avoir lieu.
                  </p>

                  <div class="buttons">
                    <button class="button is-danger"><a href="inscription">Cliquez ici pour vous inscrire</a></button>
                  </div>

                  Bonne visite !
                  </p>

                  <h3>Présentation</h3>
                  <p>
                    Cet ancien jardin d'horticulteur est entouré de murs à pêches où poussent des arbres fruitiers et des vignes.
                    On peut y voir aussi une serre ancienne.
                  </p>
                  <p>
                    Depuis 2008, les deux jardinières ont restructuré les espaces avec potagers, massifs de vivaces, d'annuelles et ont planté d'autres arbres fruitiers.
                    Elles ont creusé aussi une mare qui accueille tritons, grenouilles et libellules.
                  </p>
                  <p>
                    Les cultures se font sans engrais ni pesticides pour respecter la biodiversité.
                    Le jardin évolue sans cesse, et les jardinières expérimentent diverses techniques et variétés de plantes.
                  </p>

                  <h3>Venir au jardin</h3>



                <div class="notification is-success is-light">
                  Accès via le portail vert au fond de l'impasse

                  <div class="buttons is-pulled-right">
                    <button class="button is-danger"><a target="_blank" href="https://www.google.fr/maps/place/Sentier+des+Jasmins,+93100+Montreuil/@48.8674407,2.452849,21z/data=!4m5!3m4!1s0x47e66d4c24e491cf:0x69a2a40cb54cedbf!8m2!3d48.8674487!4d2.4529587">Voir le plan</a></button>
                  </div>


                </div>
                   <figure class="image is-16by9">
                    <img src="{% static 'registrator/Facebook_couverture_851x315px.jpg' %}" style="height:500px">
                  </figure>
                  {% comment %} <div id="mapid"></div> {% endcomment %}

                </div>
              </div>
            </article>
    </div>
  </section>
  </body>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script>
    var mymap = L.map('mapid').setView([48.86732,2.45260], 18);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var LeafIcon = L.Icon.extend({
      options: {
        {% comment %} shadowUrl: 'https://leafletjs.com/examples/custom-icons/leaf-green.png', {% endcomment %}
        iconSize:     [38, 95],
        shadowSize:   [50, 64],
        iconAnchor:   [22, 94],
        shadowAnchor: [4, 62],
        popupAnchor:  [-3, -76]
      }
    });

    var greenIcon = new LeafIcon({iconUrl: 'https://leafletjs.com/examples/custom-icons/leaf-green.png'});

    L.marker([48.86732,2.45260], {icon: greenIcon}).bindPopup("Sentier des jasmins, 93100 Montreuil").addTo(mymap);
   </script>
</html>
