{% load static %}
{% include 'registrator/_head.html' %}

           <article class="message is-dark">
              <div class="message-header">
                  <p>Le jardin</p>
              </div>
              <div class="message-body">
                <div class="content">
                  <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                      <li >
                        <a href="/">
                          <span class="icon is-small">
                            <i class="fa fa-home" aria-hidden="true"></i>
                          </span>
                          <span>Accueil</span>
                        </a>
                      </li>
                      <li>
                        <a href="/inscription">
                          <span class="icon is-small">
                            <i class="fa fa-book" aria-hidden="true"></i>
                          </span>
                          <span>Inscription</span>
                        </a>
                      </li>
                      <li class="is-active">
                        <a href="/photos">
                          <span class="icon is-small">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                          </span>
                          <span>Photos</span>
                        </a>
                      </li>
                    </ul>
                  </nav>

                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/0FD6B1DC-9F29-4627-8DD4-8BC1538AB53C.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/109850F8-1164-4CBA-8554-BC349F10846D.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/2865D3AB-82E1-4B83-9BDF-A2B0E0C5A347.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/2971CCDD-5FD1-46D7-A553-A87BB9BDDEE2.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/5A47CE67-7F18-40F4-8C1A-0B399486DA66.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/63FB82FE-C787-406F-BFE2-1B7BFFD8A72B.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/84BFF61C-388A-40EB-9F85-2A07902200F1.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/ADDD7590-07E2-471F-8E41-2E891576EAEA.JPG' %}">
                    </figure>
                    <figure class="image is-3by4">
                    <img src="{% static 'registrator/C489D7E7-85DD-4CBA-B05A-1EFB87608243.JPG' %}">
                    </figure>
                    <figure class="image is-3by4">
                    <img src="{% static 'registrator/CDC7F214-51AF-4C1B-8EFB-CCCD2C4AD898.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/DB9B807D-6072-48AF-9B11-ECE1C1305B16.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/DEC3C997-67C1-49A4-B948-2CFCD36EB22E.JPG' %}">
                    </figure>
                    <figure class="image is-4by3">
                    <img src="{% static 'registrator/IMG_2805.JPG' %}">
                    </figure>

                </div>
              </div>
            </article>
    </div>
  </section>
  </body>
</html>
