{% include 'registrator/_head.html' %}

                        <article class="message is-dark">
                            <div class="message-header">
                                <p>Choississez votre heure d'arrivée au jardin</p>
                            </div>
                            <div class="message-body">
                                <div class="content">
                                    <nav class="breadcrumb" aria-label="breadcrumbs">
                                        <ul>
                                            <li>
                                                <a href="/">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-home" aria-hidden="true"></i>
                                                    </span>
                                                    <span>Accueil</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/inscription">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-book" aria-hidden="true"></i>
                                                    </span>
                                                    <span>Inscription</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/photos">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                                    </span>
                                                    <span>Photos</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contact">
                                                <span class="icon is-small">
                                                    <i class="fa fa-address-book" aria-hidden="true"></i>
                                                </span>
                                                <span>Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <h3>Pour vous inscrire</h3>

                                    <p>
                                    Les entrées se font par créneaux de 30mn, la présence dans le jardin sera limitée à 1h30.
                                    </p>
                                    <ul>
                                        <li>Le masque pour tout le monde est nécessaire.</li>
                                        <li>Du gel hydroalcoolique sera à disposition.</li>
                                        <li>Suivez le fléchage pour la visite.</li>
                                        <li>Respectez les distances entre les personnes.</li>
                                        <li>Les enfants en dessous de 3 ans ne nécessitent pas d'inscription.</li>
                                    </ul>

                                    <div class="tabs is-toggle">
                                        <ul>
                                            <li id="tab-5-june" class="is-active">
                                                <a  onclick="
                                                    getElementById('tab-5-june').classList.add('is-active');
                                                    getElementById('list-5').classList.remove('is-hidden');
                                                    getElementById('tab-6-june').classList.remove('is-active');
                                                    getElementById('list-6').classList.add('is-hidden');
                                                    getElementById('tab-unsubscribe').classList.remove('is-active');
                                                    getElementById('unsubscribe').classList.add('is-hidden');
                                                ">
                                                    <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <span>5 juin 2021</span>
                                                </a>
                                            </li>
                                            <li id="tab-6-june">
                                                <a  onclick="
                                                    getElementById('tab-6-june').classList.add('is-active');
                                                    getElementById('list-6').classList.remove('is-hidden')
                                                    getElementById('tab-5-june').classList.remove('is-active');
                                                    getElementById('list-5').classList.add('is-hidden');
                                                    getElementById('tab-unsubscribe').classList.remove('is-active');
                                                    getElementById('unsubscribe').classList.add('is-hidden');
                                                ">
                                                    <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <span>6 juin 2021</span>
                                                </a>
                                            </li>
                                            <li id="tab-unsubscribe">
                                                <a  onclick="
                                                    getElementById('tab-unsubscribe').classList.add('is-active');
                                                    getElementById('unsubscribe').classList.remove('is-hidden')
                                                    getElementById('tab-5-june').classList.remove('is-active');
                                                    getElementById('list-5').classList.add('is-hidden');
                                                    getElementById('tab-6-june').classList.remove('is-active');
                                                    getElementById('list-6').classList.add('is-hidden');
                                                ">
                                                    <span class="icon is-small"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                    <span>Se désinscrire</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div id="list-5">
                                        {% for time in times_5 %}

                                            {% cycle "<div class='columns'>" "" %}

                                                <div class="column is-half">
                                                    {% include "registrator/_subscribe_one_slot.html" %}
                                                </div>
                                                {% cycle "" "</div>" %}

                                                {% comment %} Don't like it but currently the number of timeslots is uneven {% endcomment %}
                                                {% if forloop.last %}
                                                    </div>
                                                {% endif %}

                                        {% endfor %}
                                    </div>

                                    <div id="list-6" class="is-hidden">
                                        {% for time in times_6 %}

                                        {% cycle "<div class='columns'>" "" %}

                                            <div class="column">
                                                {% include "registrator/_subscribe_one_slot.html" %}
                                            </div>
                                            {% cycle "" "</div>" %}
                                        {% endfor %}
                                    </div>

                                    <div id="unsubscribe" class="is-hidden">
                                        <form action="{% url 'unsubscribe' %}" method="post">
                                            {% csrf_token %}

                                            <p>Pour vous désinscrire, veuillez entrer le courriel fourni lors de votre inscription</p>

                                            <div class="field">
                                                <label class="label">Votre courriel</label>
                                                <div class="control has-icons-left has-icons-right">
                                                    <input required name="email" class="input" type="email" placeholder="Courriel">
                                                    <span class="icon is-small is-left">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <button type="submit" class=" is-pulled-right button is-link">Se désinscrire</button>
                                        </form>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        </article>
            </div>
        </section>
    </body>

</html>
